@page "/"

<h1>Blazor Wheel Zoom</h1>
<p>User mouse wheel and drag image to move</p>

<div style="border: thin solid green; width: 510px; height: 510px; padding: 5px;">
    @*<WheelZoom Image="/mire.png" width="500" height="500" />*@
    <WheelZoom Image="@($"data:image/png;base64, {image64}")" width="500" height="500" />
</div>

@code{
    string image64;

    protected override void OnInitialized()
    {
        image64 = System.Convert.ToBase64String(System.IO.File.ReadAllBytes("wwwroot/mire.png"));
    }
}